
body {
    background-color: hsl(0, 0%, 91%); /*Use gradient hsl(156, 13%, 15%) */
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

    margin: 0;
    display: grid;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "main main main"
                          "footer footer footer";
}

header {
    grid-area: header;

}

main {
    grid-area: main;
    margin: 20px;
}

footer {
    grid-area: footer;
    margin: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-area: nav;
    padding: 0px;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    text-align: center;

    display: flex;
    align-items: center;
    text-align: center;

    justify-content: center;

    padding: 0px;
    gap: 20px;

    flex-wrap: wrap;
}

@media (max-width: 400px) {
    nav > ul {
        width: 70%;
    }
    nav > ul > li {
        flex: 1 50%;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    nav > ul > li {
        flex: 1 1 40%;
    }
}

nav li {
    display: inline-block;
    
    width: 20vw;
    
    background-color:  #495e57;
    color: whitesmoke;
    padding: 2px;
    border-radius: 20px;
    height: 30px;

    text-align: center;
    padding-top: 10px;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.logo {
    width: 40%;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

main {
    border: 2px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.promotion, .items {
    border: 2px solid grey;
    padding: 20px;

    text-align: center;
}

.items {
    display: flex;
    text-align: center;
    justify-content: center;

    gap: 10px;

    margin-top: 20px;
}

footer {
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;

    padding: 20px;
}

footer > div {
    width: 100%;
}

.logoMini {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    margin-bottom: 5px;
}

.footerText {
    color: hsl(156, 13%, 15%);
}

section > article {
    border: 2px solid grey;
}