
body {
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(235, 235, 235), rgb(212, 212, 212));
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;

    margin: 0;
    display: grid;
    grid-template-areas: "header header header"
                          "nav nav nav"
                          "main main main"
                          "footer footer footer";

    min-height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    margin: 20px;

    justify-content: center; 
    align-items: center;

    min-height: 550px;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

footer {
    grid-area: footer;
    margin: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-area: nav;
    padding: 0px;
    /* margin: 20px; */

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: center;

    display: flex;
    align-items: center;
    text-align: center;

    justify-content: center;

    padding: 0px;
    gap: 20px;

    flex-wrap: wrap;
}

nav li {
    display: inline-block;
    
    width: 18vw;
    
    background-color:  #495e57;
    background: linear-gradient(to bottom, #495e57, #293833);
    color: whitesmoke;
    border-radius: 20px;
    height: 35px;

    padding: 5px;

    text-align: center;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

.navButton {
    text-decoration: none;
    color: whitesmoke;
}

nav li:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 400px) {
    nav > ul {
        width: 70%;
    }
    nav > ul > li {
        flex: 1 50%;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    nav > ul > li {
        flex: 1 1 40%;
    }
}

section {
    display: flex;

    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;

    padding-top: 25px;
    padding-bottom: 0px;

    text-align: center;
}

.promotion, .items {
    text-align: center;
}

.promotionImage {
    width: 80vw; 
    height: auto;

    border-radius: 15px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

.promotionImage:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.7);

    transform: scale(1.01);
    transition: transform 0.3s ease;
}


@media (min-width: 320px) and (max-width: 768px) {
    .promotionImage {
        width: 100%;
    }

    .promotion, .promotionImage {
        padding: 0;
        margin: 0;
    }
}

footer {
    display: flex;
    align-items: center;

    justify-content: center;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    width: 20%;
}

footer > div {
    width: 100%;
}

.logoMini {
    display: flex;
    justify-content: right;
    align-items: right;

    padding-right: 15px;

    width: 200px;
    margin-bottom: 5px;
}

.footerText {
    color: #212b27;
    border-top: 1px solid #212b27;
    border-bottom: 1px solid #212b27;

    width: 300px;
}

.card {
    width: 20rem;

    padding-bottom: 20px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.orderButton {
    background-color: #086c6c;
    color: whitesmoke;

    border: none;

    min-width: 85px;
    min-height: 30px;

    border-radius: 15px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 30px;

    gap: 20px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);

    border-radius: 20px;

    cursor: pointer;
}

.cardContainer:hover {
    transform: scale(1.2);
    transition: transform 0.35s ease-out;
}


.cardImageContainer {
    width: 170px; 
    height: 220px; 
    border-radius: 20px 0px 0px 20px;
}

.cardImage {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px 0px 0px 20px;
}

.cardTextbox {
    width: 220px; 
    height: 220px; 
    background-color: white; 
    padding: 10px; 
    border-radius: 0px 20px 20px 0px;

    justify-content: left;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color:rgb(59, 59, 59);

    padding: 0;
    margin: 0;
}

.cardText {
    font-size: 0.9rem;

    padding-right: 10px;
    padding-top: 3px;
    margin: 0;
    text-align: justify;
}

.myButton {
    border: none;

    width: 120px;
    height: 30px;

    background-color: #128a7c;
    background: linear-gradient(180deg, #128a7c, #0b685d);
    color: white;

    border-radius: 22px;

    margin-top: 10px;

    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}

@media (min-width: 320px) and (max-width: 768px) {
    .myButton {
        width: 100px;
        height: 25px;

        margin-top: 4px;
        font-size: 0.8rem;
    }

    .cardImageContainer, .info {
        flex-wrap: wrap;
    }
    
    .cardTitle {
        font-size: 0.8rem;
        font-weight: 500;
        color:rgb(59, 59, 59);
    
        padding: 0;
        margin: 0;
    }
    
    .cardText {
        font-size: 0.7rem;
    
        padding-right: 10px; 
        padding-top: 3px;
        margin: 0;
        text-align: justify;
    }

    .cardImageContainer {
        width: 100px; 
        height: 170px; 
        border-radius: 20px 0px 0px 20px;
    }

    .cardTextbox {
        width: 170px; 
        height: 170px; 
        background-color: white; 
        padding: 10px; 
        border-radius: 0px 20px 20px 0px;
    
        justify-content: left;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .cardImageContainer, .info {
        flex-wrap: wrap;
    }

    .myButton {
        width: 100px;
        height: 25px;

        margin-top: 6px;
        font-size: 0.9rem;
    }


    .cardTitle {
        font-size: 1rem;
        font-weight: 500;
        color:rgb(59, 59, 59);
    
        padding: 0;
        margin: 0;
    }
    
    .cardText {
        font-size: 0.9rem;
    
        padding-right: 10px; 
        padding-top: 3px;
        margin: 0;
        text-align: justify;
    }

    .cardImageContainer {
        width: 250px; 
        height: 170px; 
        border-radius: 20px 0px 0px 20px;
    }

    .cardTextbox {
        width: 290px; 
        height: 170px; 
        background-color: white; 
        padding: 10px; 
        border-radius: 0px 20px 20px 0px;
    
        justify-content: left;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .cardImageContainer, .info {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    
    .myButton {
        width: 100px;
        height: 25px;

        margin-top: 6px;
        font-size: 0.9rem;
    }


    .cardTitle {
        font-size: 1rem;
        font-weight: 500;
        color:rgb(59, 59, 59);
    
        padding: 0;
        margin: 0;
    }
    
    .cardText {
        font-size: 0.9rem;
    
        padding-right: 10px; 
        padding-top: 3px;
        margin: 0;
        text-align: justify;
    }

    .cardImageContainer {
        width: 250px; 
        height: 170px; 
        border-radius: 20px 0px 0px 20px;
    }

    .cardTextbox {
        width: 290px; 
        height: 170px; 
        background-color: white; 
        padding: 10px; 
        border-radius: 0px 20px 20px 0px;
    
        justify-content: left;
    }
}

.descriptionText {
    text-align: justify;

    font-size: 1.2rem;

    font-weight: 450;

    margin-bottom: 20px;

    color: hsl(160, 14%, 20%);
}

.contactSection {
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    gap: 0px;
}

.contactInfo {
    padding: 6px 15px 0px 15px;

    margin-bottom: 8px;

    background-color: #aee2d1;
    color: hsl(160, 14%, 23%);

    border: 0.5px solid hsl(160, 14%, 45%);

    font-size: 1.07rem;

    min-width: 200px;
    height: 40px;

    text-align: center;
    justify-content: center;

    border-radius: 20px;
}